* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
}

:root {
    --fundo-principal: #fff;
    --fundo-secundario: #fff;
    --branco: #fff;
    --linhas: #f0f0f0;
    --texto: #000;
    --texto-leve: #888;
    --sombra: rgba(0, 0, 0, 0.5);
}

@media(min-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media(min-width: 768px) {
    html {
        font-size: 87.5%;
    }
}

body {
    background: var(--fundo-principal);
    color: var(--texto);
}

body,
input,
textarea,
button {
    font: 400 1rem "Montserrat", sans-serif;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 85%;
    height: auto;
    margin: 1rem 0;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.75rem;
    font-weight: 500;
    text-align: center;
}

strong {
    text-align: center;
}

p,
strong {
    margin: 0.67rem 0;
}

section,
footer {
    padding: 7rem 0 0.25rem;
}


/* CABEÇALHO */

header {
    background: var(--fundo-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--linhas) 1px solid;
    position: sticky;
    top: 0;
    padding: 0.5rem;
}

header>a {
    width: fit-content;
}


/* LOGO */

.header-destaque {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
}

.header-logo {
    background: rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: fit-content;
    box-shadow: 1px 1px 2px var(--sombra);
    border-radius: 100%;
    padding: 0.6rem;
    margin: 0.8rem;
}

.header-logo img {
    width: 100%;
    margin: 0;
}

.header-titulo {
    font-size: 2.5rem;
    font-family: 'MrDeHaviland-Regular';
    display: none;
}


/* MENU */

.header-menu {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    padding: 1rem;
    margin: 0.3rem;
}

.menu-icon {
    width: fit-content;
    position: sticky;
    cursor: pointer;
    z-index: 20;
}

.menu-checkbox {
    display: none;
}

.header-menu-list {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1s linear;
}

.header-menu-list nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    background: var(--fundo-principal);
    width: 100%;
    height: 100%;
    top: 3rem;
    visibility: hidden;
}

.header-menu-list nav a {
    width: fit-content;
}

.header-menu-list-item {
    font-size: 2rem;
    opacity: 0;
    transition: all 0.4s linear;
    visibility: inherit;
}

.header-menu-list-item:hover {
    text-decoration: underline;
}

.menu-checkbox:checked~.header-menu-list {
    z-index: 1;
    opacity: 1;
    transition-duration: 0.2s;
}

.menu-checkbox:checked~.header-menu-list nav {
    visibility: visible;
}

.menu-checkbox:checked~.header-menu-list nav a .header-menu-list-item {
    opacity: 1;
    transition-delay: 0.4s;
}


/* INICIO */

.inicio {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}


/* LOGO PRINCIPAL */

.inicio-logo {
    font-family: 'AbhayaLibre';
    text-align: center;
    padding: 0.3rem;
    margin: 0.5rem;
}

.inicio-logo p:first-child {
    font-size: 2.2rem;
    font-weight: 800;
    text-decoration: underline;
}

.inicio-logo p:last-child {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.4rem;
}


/* CARROSSEL */

.inicio-carrossel {
    display: none;
    /* margin: 2rem 0; */
}

.inicio-carrossel img {
    border-radius: 6px;
    box-shadow: 2px 2px 8px 0 var(--sombra);
    /* margin: 0.75rem; */
}

.inicio-mobile {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.inicio-mobile img {
    border-radius: 6px;
    box-shadow: 2px 2px 8px 0 var(--sombra);
    margin-top: 4rem;
}


/* SOBRE */

.sobre {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: var(--fundo-secundario);
}

.sobre-foto {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.sobre-foto img {
    box-shadow: 5px 5px 20px 0 var(--sombra);
}

.sobre-texto {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.sobre-texto p {
    width: 81%;
    align-self: center;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1.3rem;
}


/* MISSAO */

.missao {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}

.missao-texto {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    line-height: 2rem;
    width: 85%;
    height: 100%;
}

.missao-texto strong {
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
}


/* PROJETOS */

.projetos {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: var(--fundo-secundario);
}

.projetos-estilos {
    margin-top: 1.5rem;
}

.projeto-titulo-principal {
    font-size: 1.25rem;
    font-weight: 500;
    font-style: italic;
    margin: 0;
}

.projeto-titulo-secundario {
    font-size: 1.125rem;
    font-weight: 300;
    font-style: italic;
    margin-top: 0.3rem;
}

.projetos-estilo1 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.projetos-estilo1-titulo {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.projetos-estilo1-imagens {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.projetos img {
    border-radius: 5px;
    box-shadow: 2px 2px 8px 0 var(--sombra);
}


/* CONTATO */

.contato {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: var(--fundo);
}

.contato-video {
    display: none;
}

.contato-texto {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-style: italic;
    padding: 2rem 0;
}

.contato-texto h3 {
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem 0;
}

.contato-texto h2 {
    font-size: 1.13rem;
    font-weight: 500;
    padding: 1rem 0;
}

.contato-texto h1 {
    font-size: 1.57rem;
    font-weight: 600;
    font-style: normal;
    padding: 1rem 0;
}

.contato-texto strong {
    font-size: 1.55rem;
}


/* RODAPE */

.redes-sociais {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2.5rem;
}